{% extends 'base.html' %}
{% load static %}

{% block title %}Reserve a table{% endblock %}

{% block content %}
<!-- booking specific css -->
<link rel="stylesheet" href="{% static 'bookings/css/booking.css' %}">

<div class="booking-container">
  <div class="booking-info text-center pt-5">
    <h2>RESERVE A TABLE</h2>
    <p>You can fill this form in to book your table. <br>
        table will be booked automatically, <br>
         and you will receive a confirmation email. <br>
         If there is any issue, we will contact you as soon as possible.</p>
    <p><strong>For same-day bookings:</strong> <br>
        please call us directly on <br> <a href="tel:01162422240">0116 112 1122</a> or <br>
        <a href="tel:01162628221">0116 113 1133</a></p>
    <p>If you make a reservation for the same day via this form, it may not be valid. <br>
        The automatic confirmation email will also be invalid <br> when making a reservation for the same day. <br>
        Since we need atleast <strong>24hour prior reservation.</strong></p>
    <p class="text-center">
      If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.
    </p>
  </div>

  <div class="booking-form">
    <form method="POST">
      {% csrf_token %}

      {% if form.non_field_errors %}
      <ul class="errorlist">
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <label>Your name *</label>
      {{ form.name }}

      <label>Your email *</label>
      {{ form.email }}

      <label>Your mobile *</label>
      {{ form.phone }}

      <label>DATE *</label>
      {{ form.date }}

      <label>TIME *</label>
      {{ form.time }}

      <label>Number of people *</label>
      {{ form.party_size }}

      <label>Any Message</label>
      {{ form.message }}
      <button type="submit">Send</button>
    </form>
  </div>
</div>


{%endblock%}